<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/stma?useSSL=false</param-value>
  </context-param>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.stms.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.stms.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.stms.servlets.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.stms.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEventServlet</servlet-name>
    <servlet-class>com.stms.servlets.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventServlet</servlet-name>
    <url-pattern>/addevent</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.stms.listeners.ApplicationListener</listener-class>
  </listener>
  <security-constraint>
        <web-resource-collection>
            <web-resource-name>stms</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>